/* css styles */


body {
    margin:0;
    padding:0;
    font-family: Georgia;
    font-size:18px
}

h1 {
  font-family:Arial;
  font-size:28px;
  text-align: center
}

h2 {
  font-family:Arial;
  font-size:24px;
  text-align: center
}

h3 {
  font-family:Arial;
  font-size:18px;
  text-align: center
}

figcaption {
  font-family: Arial;
  font-size: 10px;
  text-align: left
}